.brand-logo > img
{
  height: 128px;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

nav ul a
{
  color: black;
}

nav ul a:hover
{
  background-color: rgba(230, 180, 113, 1);
}

.navcolor
{
  background-color: rgba(0, 0, 0, 0.2);red;
}

.parallax-container
{
  -webkit-clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 0);
clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 0);
}
